<!DOCTYPE html>
<html>

<head>
  <title>Curriculum Vitae</title>
  <script>
    window.alert("Bem vindo ao meu Currículo!");
  </script>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="utf-8" />
</head>

<body>
  <section>
    <img src="/assets/imagens/imagem2.jpg" alt="image" width="250" height="205">
    <header>
      <h1>Curriculum Vitae</h1>
      <p>
        Rua João Pio Duarte Silva, 180.
        <br> Florianópolis - SC
        <br> CEP 88037-000
      </p>
    </header>
    <article>
      <h2>Inajara Pereira</h2>
      <div>CPF: 063.785.409-85</div>
      <div>DATA DE NASCIMENTO: 23/07/1986</div>
      <div>TELEFONE: (48) 99961-7033</div>
    </article>
    <section>
      <h2>Cargos pretendidos</h2>
      <ul>
        <li>Desenvolvedora Java Júnior</li>
        <li>Desenvolvedora Fullstack Júnior</li>
        <li>Desenvolvedora Google Cloud</li>
      </ul>
    </section>
    <section>
      <h2>Experiencia Profissional</h2>
      <ul>
        <li>Estágiaria em Desenvolvimento de software (2020)</li>
        <li>Análista de suporte ao usuário (2018)</li>
        <li>Inside Technical Sales (2013 a 2017)</li>
      </ul>
    </section>
  </section>
  <footer>Elaborado por: Inajara Pereira</footer>
  <br>
  <br>
</body>
</html>